%div{class: "comment clearfix"}
  %p{style: "float: right;"}= link_to 'Delete', [comment.post, comment], method: :delete, class: "button",data: { confirm: 'Are you sure?' }
  %div{class: "comment_content"}
    %p{class: "comment_name"}
      %strong= comment.name
    %p{class: "comment_body"}= comment.body
    %p{class: "comment_time"}
      = time_ago_in_words(comment.created_at)
      Ago
